.pull-to-shoot {
  width: 40px;
  height: 100%;
  max-height: 600px;

  &__click-area {
    position: relative;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 250ms;

    width: 100%;
    height: 100%;

    overflow: hidden;

    &:before {
      border-radius: 9999px;
      z-index: 1;
      content: '';
      position: absolute;
      inset: 0;
      box-shadow: inset 0 0 8px black;
    }
  }

  &__power-color {
    border-radius: 9999px;
    position: absolute;
    inset: 0;
    transition: opacity 500ms;
  }

  &__notch {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(0, 0, 0, 0.5),
      transparent
    );
    // box-shadow: 0 0 20px black;
  }
}

.pull-to-shoot__cue-offset {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 8px;
}

.pull-to-shoot__cue {
  width: 50%;
  height: 120%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-radius: 9999px;
  box-shadow: 0 0 8px black, 0 0 8px black;
  // cue tip
  background: #8888ff;
  padding-top: 4px;

  &:before {
    z-index: 1;
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: inset 0 0 8px black;
  }

  &__container {
    width: 100%;
    height: 100%;
  }

  > canvas {
    height: 100%;
  }
}
