.button {
  cursor: pointer;
  transition: 0.1s;
  font-family: inherit;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
}

.button:not(.surface) {
  border-radius: 16px;
  border: none;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &.active,
  &[data-variant='filled'] {
    background: #646cff;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.button.icon {
  border-radius: 100%;
}

.button.surface {
  &:not(.icon) {
    padding: 0 16px;
  }

  &.circle {
    padding: 8px 8px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }

  & + .button.surface {
    margin-left: 0;
  }

  &.active,
  &[data-variant='filled'] {
    border-color: #646cff;
    background: #646cff88;
  }
}
