.ui-container {
  position: fixed;
  inset: 16px;
  pointer-events: none;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  &__mid {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    overflow-x: auto;

    > :first-child {
      // avoid stats
      margin-left: 80px;
    }

    > * {
      flex: 1;
    }
  }
}

@media (max-width: 1200px) {
  .ui-container {
    inset: 4px;
  }
}
