.ui-container {
  position: fixed;
  inset: 16px;
  pointer-events: none;
  margin-top: env(safe-area-inset-top);
  margin-bottom: env(safe-area-inset-bottom);
}

@media (max-width: 1200px) {
  .ui-container {
    inset: 4px;
  }
}
