.button {
  padding: 4px 12px;
  cursor: pointer;
  transition: 0.1s;
  font-family: inherit;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.9);
}

.button.surface {
  padding: 8px 16px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  }

  & + .button.surface {
    margin-left: 0;
  }

  &.active {
    border-color: #646cff;
    background: #646cff88;
  }
}

.button:not(.surface) {
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.1);

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  &.active {
    background: #646cff;
  }
}
