@use './var' as *;

.power-bar {
  height: 32px;
  width: 100%;
}

.power-bar__click-area {
  width: 100%;
  height: 100%;
  border-radius: $br-surface - $pad-surface;
  background: rgba(0, 0, 0, 0.2);
  position: relative;
}

.power-bar__current-power {
  width: 100%;
  height: 100%;
  border-radius: $br-surface - $pad-surface;
  background: linear-gradient(90deg, transparent, #646cff);
  opacity: 1;
  pointer-events: none;
}

.power-bar__power-num {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: $pad-surface;
  right: $pad-surface * 2;
  font-weight: 500;
  pointer-events: none;
}
