@use './var' as *;

.power-bar {
  height: 32px;
}

.power-bar__click-area {
  width: 100%;
  height: 100%;
  border-radius: $br-surface - $pad-surface;
  background: rgba(0, 0, 0, 0.2);
}

.power-bar__current-power {
  width: 100%;
  height: 100%;
  border-radius: $br-surface - $pad-surface;
  background: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}
