.ball-indicator__container {
  display: flex;
  justify-content: center;
  gap: 4px;

  .ball {
    animation: animate-in 0.5s;
    animation-timing-function: linear(
      0,
      0.09,
      0.4,
      0.8,
      0.83,
      0.75,
      0.9,
      0.95,
      0.98,
      1 100% 100%
    );
  }
}

.ball-indicator__group {
  border-radius: 9999px;
  padding: 0 !important;

  > span {
    min-width: 135px;
    text-align: center;
  }
}

$size: 32px;

@keyframes animate-in {
  0% {
    opacity: 0;
    transform: translateY(-100%) scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
